.elsummary{
	height: 300px;
	background-color: #e9ecef;
	margin-bottom: 1em;
}

.elmap{
	height: 300px;
	background-color: #e9ecef;
	margin-bottom: 1em;
}

.eldetails{
	height: 300px;
	background-color: #e9ecef;
	margin-bottom: 1em;
}

.elcompare{
	height: 400px;
	background-color: #e9ecef;
	margin-bottom: 1em;
}